* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Task 1 SLIDER */

.container {
    width: 100%;
    background-color: burlywood;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    position: relative;
    max-width: 1200px;
    width: 100%;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list ::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list img {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.slide-button {
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: aliceblue;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: 0;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.slider-wrapper .slide-button:hover {
    background: #444;
}

#loader {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

/* Task 2 FORM   */

.form-container {
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 700px;
}

.form h3 {
    margin-top: 20px;
}

.input-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    position: relative;
}
.input-group label {
    margin-bottom: 5px;
}

.input-group span {
    color: red;
}

.input-group input {
    border-radius: 4px;
    padding: 10px;
    outline: 0;
    border: 2px solid slateblue;
    transition: border-color 0.3s, background-color 0.3s;

}

.input-group .fa-solid {
    width: 18px;
    position: absolute;
    top: 33px;
    right: 10px;
    color: red;
    display: none;
}

.input-field.error {
    border-color: red;
    background-color: #fffacd;
}

.button-box {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}
.form-button {
    width: 100px;
    padding: 10px 15px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    color: #f0f2f5;
    background: blue;
    cursor: pointer;
}

#fio-error {
    color: red;
    padding-left: 10px;
    tab-size: 10px;
}

#pass-error {
    color: red;
    padding-left: 10px;
    tab-size: 10px;
}

/* Task 3 */
.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}

li {
    list-style: none;
}

.search-box h3 {
    margin-bottom: 20px;
}

.search-box input {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    border-radius: 4px;
    outline: 0;
    border: 2px solid green;
    margin-bottom: 30px;
}

.search-box ul {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.search-box ul li {
    border: 1px solid gray;
    padding: 5px 100px;
}



